@model CuaHangRuou.Areas.Admin.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <h2>Xin chào, @Session["TenDN"]</h2>
                        <div class="d-flex">
                            <i class="mdi mdi-home text-muted hover-cursor"></i>
                            <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Quản lý sản phẩm&nbsp;&nbsp;/&nbsp;Xoá sản phẩm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bạn chắc chắn muốn xoá sản phẩm này?</h4>
                <form class="form-sample">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"><b>Ảnh sản phẩm</b></label>
                                <div class="col-sm-9">
                                    @{
                                        //lấy đường dẫn file ảnh
                                        string ImagePath = "~/wwwroot/anh/" + Model.Anh;
                                    }
                                    <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
                                    <br />
                                    @Html.DisplayFor(model => model.Anh)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Thuộc danh mục</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.DANHMUC.TenDM)</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Giá sản phẩm</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.Gia)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tên sản phẩm</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.TenSP)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Số lượng</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.SoLuong)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Thương hiệu</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.ThuongHieu)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Loại sản phẩm</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.LoaiSP)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Xuất xứ</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.XuatXu)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Dung tích</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.DungTich)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nồng độ</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.NongDo)</label>
                                </div>
                            </div>
                        </div>
                    </div><div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tuổi rượu</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.TuoiRuou)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bộ sưu tập</label>
                                <div class="col-sm-9">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.BoSuuTap)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mô tả</label>
                                <div class="col-sm-10">
                                    <label class="col-form-label">@Html.DisplayFor(model => model.MoTa)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                 
                    <div class="d-flex justify-content-center">
                        <a class="nav-link mr-2" href="@Url.Action("QuanLySanPham", "SANPHAMs")">
                            <span class="menu-title btn btn-outline-danger btn-fw">Quay lại</span>
                        </a>
                        <p class="nav-link ml-2">
                            <input type="submit" value="Xoá" class="btn btn-default menu-title btn btn-outline-success btn-fw" />
                        </p>
                    </div>
                }
            </div>
        </div>

    </div>
    
</div>


@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}