
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slider
{
    <section class="slider-area">
        <div class="main-slider owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(-2698px, 0px, 0px); transition: all 0s ease 0s; width: 9443px;">
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="main-slider-item slider-item-bg-2">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container">
                                        <div class="slider-text">
                                            <span>Thú vị</span>
                                            <h1>Luôn mát mẻ với rượu vang</h1>
                                            <p>Vang càng lâu năm càng được yêu thích</p>
                                            <a class="default-btn" href="@Url.Action("Index","Home")">Khám phá ngay</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="main-slider-item slider-item-bg-3">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container">
                                        <div class="slider-text">
                                            <span>Thú vị</span>
                                            <h1>Luôn mát mẻ với rượu vang</h1>
                                            <p>Vang càng lâu năm càng được yêu thích</p>
                                            <a class="default-btn" href="@Url.Action("Index","Home")">Khám phá ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 1349px;">
                        <div class="main-slider-item slider-item-bg-1">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container">
                                        <div class="slider-text">
                                            <span>Thú vị</span>
                                            <h1>Luôn mát mẻ với rượu vang</h1>
                                            <p>Vang càng lâu năm càng được yêu thích</p>
                                            <a class="default-btn" href="@Url.Action("Index","Home")">Khám phá ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 1349px;">
                        <div class="main-slider-item slider-item-bg-2">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container">
                                        <div class="slider-text">
                                            <span>Thú vị</span>
                                            <h1>Luôn mát mẻ với rượu vang</h1>
                                            <p>Vang càng lâu năm càng được yêu thích</p>
                                            <a class="default-btn" href="@Url.Action("Index","Home")">Khám phá ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 1349px;">
                        <div class="main-slider-item slider-item-bg-3">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container">
                                        <div class="slider-text">
                                            <span>Thú vị</span>
                                            <h1>Luôn mát mẻ với rượu vang</h1>
                                            <p>Vang càng lâu năm càng được yêu thích</p>
                                            <a class="default-btn" href="@Url.Action("Index","Home")">Khám phá ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="main-slider-item slider-item-bg-1">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container">
                                        <div class="slider-text">
                                            <span>Thú vị</span>
                                            <h1>Luôn mát mẻ với rượu vang</h1>
                                            <p>Vang càng lâu năm càng được yêu thích</p>
                                            <a class="default-btn" href="@Url.Action("Index","Home")">Khám phá ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="main-slider-item slider-item-bg-2">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container">
                                        <div class="slider-text">
                                            <span>Thú vị</span>
                                            <h1>Luôn mát mẻ với rượu vang</h1>
                                            <p>Vang càng lâu năm càng được yêu thích</p>
                                            <a class="default-btn" href="@Url.Action("Index","Home")">Khám phá ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev">
                    <i class="flaticon-left-arrow"></i>
                </button><button type="button" role="presentation"
                                 class="owl-next">
                    <i class="flaticon-right-arrow"></i>
                </button>
            </div>
            <div class="owl-dots disabled"></div>
        </div>
        <div class="container">
            <div class="support-wrap">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-support">
                            <i class="flaticon-customer-service"></i>
                            <div class="support-text">
                                <h3>Hỗ trợ trực tuyến 24/7</h3>
                                <p>Luôn luôn đáp ứng yêu cầu hỗ trợ cảu khách hàng nhanh nhất có thể</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-support">
                            <i class="flaticon-guarantee"></i>
                            <div class="support-text">
                                <h3>Hoàn tiền hợp lý</h3>
                                <p>Các đơn hàng không đúng chất lượng sẽ hoàn tiền 100%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-support">
                            <i class="flaticon-time-left"></i>
                            <div class="support-text">
                                <h3>Miễn phí giao hàng và hoàn trả</h3>
                                <p>Nhiều chính sách miễn phí giao hàng và miễn phí cước đổi trả</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<section class="since-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="since-img">
                    <img src="~/wwwroot/img/home-two/since-img.png" alt="Welcome">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="since-text">
                    <span>Kể từ năm 1903</span>
                    <h2>Rượu vang- Một cái tên. Một huyền thoại.</h2>
                    <p>
                        Chúng tôi chuyên phân phối, bán sỉ, lẻ các loại rượu ngoại, rượu tây, rượu vang... chính hãng. Cam kết hàng thật 100%. Chúng tôi phục vụ bạn với sản phẩm Uy tín & chất lượng nhất.                     
                    </p>
                    <ul class="since-list">
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            Hơn 20 năm kinh nghiệm
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            Sản phẩm chất lượng cao
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            Hỗ trợ giao hàng
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            Trả lời nhanh
                        </li>
                    </ul>
                    <a class="default-btn" href="@Url.Action("Index","Home")">
                        Tìm hiểu thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

