<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <i class="mdi mdi-view-dashboard mr-2"></i>
                <span class="menu-title">Bảng điều khiển</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("QuanLySanPham", "SANPHAMs")">
                <i class="mdi mdi-cube mr-2"></i>
                <span class="menu-title">Quản lý sản phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("QuanLyDanhMuc", "DANHMUCs")">
                <i class="mdi mdi-file-document-box  mr-2"></i>
                <span class="menu-title">Quản lý danh mục</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("QuanLyDonHang", "DONHANGs")">
                <i class="mdi mdi-file-document  mr-2"></i>
                <span class="menu-title">Quản lý hóa đơn</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("QuanLyTaiKhoan", "TAIKHOANs")">
                <i class="mdi mdi-account  mr-2"></i>
                <span class="menu-title">Quản lý tài khoản</span>
            </a>
        </li>
    </ul>
</nav>